/** @format */

#mainBox {
	width: 80%;
	height: 550px;
	padding-top: 20px;
	margin: auto;
	background-color: blueviolet;
	border-radius: 8px;
	border: 4mm ridge rgba(230, 197, 245, 0.6);
}
body {
	background-color: rgb(105, 167, 12);
}
h1 {
	color: white;
	width: 150px;
	font-size: 45px;
	margin: auto;
}
#movie {
	width: 300px;
	height: 50px;
	margin-left: 35%;
	margin-top: 20px;
	font-size: 20px;
}
#btn {
	width: 100px;
	height: 30px;
	margin-left: 45%;
	font-size: 20px;
	margin-top: 10px;
	cursor: pointer;
}
#data {
	margin-left: 10%;
}
#img {
	width: 300px;
	height: 350px;
	float: left;
	margin-right: 50px;
}
#data div {
	font-size: 25px;
	margin: 20px;
	color: white;
}
#err {
	position: relative;
	display: none;
	font-size: 30px;
}
#errimg {
	width: 880px;
	margin-top: 220px;
	margin-left: 240px;
	height: 355px;
	position: absolute;
}
#rec {
	display: none;
	float: left;
	font-size: 30px;
	color: yellow;
}
